/* body{
    width: 50%;
    margin: auto;
} */
#teamNav{
    display: flex;
    width: 60%;
    margin: left;
}
#country {
    display: flex;
}
#teamNav p{
margin: auto;
}


#country img{
width: 15%;
}
#ad {
    margin: auto;
    margin-top: 15px;
    margin-left:260px ;
}
#res{
    width: 20%;
    border: 1px solid;
}
#button {
    display: flex;
    border: 1px solid rgb(0, 187, 255);
    width: 60%;
    margin: auto;
    border-radius: 5px;
   
}
