body{
  
  width: 100%;
  margin: auto;
}

#ftNav {
    width: 80%;
    display: flex;
    justify-content: left;
    margin: auto;
   margin-bottom: 30px;
   background-color: white;
   padding: 20px 60px;
  }

  #ftNav p {
    margin-right: 20px;
  }
 #box{
    display: flex;
}
*{
    font: BentonSans;
    font-family: BentonSans, Arial, "Noto Sans", sans-serif;

}

.mainBox p:nth-child(1){
    font-weight: 700;
}

.iBox {
    width: 50%;
}
.iBox img {
    width: 100%;
    border-radius: 10px;
}
.zoom {
    /* /padding: 50px; */
    background-color:white;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .mainBox{
    padding: 20px;
    width: 60%;
    
  }
  #box{
    margin-top: 20px;
    
    padding-bottom: 10px;
    border-bottom: 1px solid  rgba(211, 211, 211, 0.323);
   
  }
  #ftContainer{
    width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }

  #Container {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    

  }
#rightContain .iBox{
  
  width: 20%;
}
#rightContain .iBox img{
  width: 100%;
  height: max-content;
  margin-top: 10px;
}
#rightContain .mainBox{
  padding: 5px;
}
#rightContain{
  width: 40%;
  margin-left: 20px;
  background-color: white;
    border-radius: 10px;
    padding: 20px;
}
#ad {
  width: 60%;
  margin: auto;
  position: relative;
  left: 20%;
}
#content2 {
  margin-top: 30px;
 
}
 
